/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Sara Ojasoo
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

/* NAVIGATION */
#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}

/* FOOTER */
.social-media-menu li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

.social-media-menu li a {
  color: white;
  background-color: #383838;
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: center;
}


/* End NAVIGATION */

/* HOMEPAGE STYLES */
.home-page {
  background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
}

.button {
  color: #fff;
	background: #45ac9d;
}

.hero-content {
  margin-bottom: 10px;
}
/* End HOMEPAGE STYLES */

/* HOMEPAGE- FEATURED WORK */
.featured-work .homepage-featured-work {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-work h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

.featured-work ul {
  list-style: none;
}

.featured-work .individual-featured-work {
  width: 30%;
  margin-right: 30px;
}
.featured-work .individual-featured-work h3 {
  margin: 0;
  text-align: center;
  font-weight: 400;
}
/* End HOMEPAGE- FEATURED WORK */

/* HOMEPAGE- BLOG POST */
.blog-post {
  width: 50%;
  float: left;
  margin-bottom: 2em;
}

.blog-post h4 {
  font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
    color: #a6a6a6;
    text-transform: uppercase;
    margin: 2em 0 .5em;
}

.blog-post h3 {
  font-size: 1.5em;
}

.read-more-link {
	font-family: 'Montserrat';
	font-weight: 700;
	color: #45ac9d;
	text-transform: uppercase;
}
/* End HOMEPAGE- BLOG POST */

/* CUSTOM PAGE: Case Studies */
.case-study .case-study-sidebar {
  float: left;
  width: 40%;
}

.case-study .case-study-images {
  float: left;
  width: 55%;
}

.case-study h2 { /*title */
  font-size: 1.5em;
  margin: 50px 0 0 0;
}

.case-study h4 { /* what we did */
  margin: 0;
  color: grey;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 2.3em;
}

.case-study h5 { /*client */
  color: black;
  margin: 0;
}

.case-study-images img {
  margin-bottom: 30px;
}

.case-study a {
  color: #45ac9d;
  text-transform: capitalize;
}

div.case-study-images img {
	width: 100%;
	height: auto;
}

/* responsive */
@media screen and (max-width: 800px) {
.case-study {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.case-study .case-study-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  float: none;
}
.case-study .case-study-images {
  width: 60%;
  float: none;
}
}
/*end responsive */

/* End CUSTOM PAGE: Case Studies */

/* ARCHIVE-PAGE: Case Studies */
.case-study-archive h2 a {
  color: black;
  font-weight: 400;
}

.case-study-archive .case-study-sidebar {
  width: 35%;
  margin-right: 80px;
}
/* End ARCHIVE-PAGE: Case Studies */
